.advantages {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 119px;
  }
}

.advantages__title {
  margin: 0 0 4px;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-slate-blue;
  letter-spacing: 0.02em;
}

.advantages__description {
  padding: 0;
  margin: 0 0 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 61px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 91px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 21px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    gap: 30px;
  }
}

.advantages__item-title {
  padding: 0;
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 10px;
  }
}

.advantages__item-description {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item {
  position: relative;
  margin: 0 0 32px;
  padding: 66px 0 0;

  &--speed::after,
  &--comfort::after,
  &--cheerfulness::after,
  &--ecology::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 52px;
    height: 56px;
    background-color: $color-white;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      left: 0;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translateX(-50%);
      top: -12px;
    }
  }

  &--speed::after {
    background-image: url("../img/icons/icon-speed.svg");
  }

  &--comfort::after {
    background-image: url("../img/icons/icon-comfort.svg");
  }

  &--cheerfulness::after {
    background-image: url("../img/icons/icon-cheerfulness.svg");
  }

  &--ecology::after {
    background-image: url("../img/icons/icon-ecology.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 0 72px;
    text-align: start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 0;
    text-align: center;
  }
}
