.button {
  font-family: $ff-montserrat;
  border: none;
  border-radius: 4px;
  color: $color-white;
  background-color: $color-slate-blue;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 20px;

  &:hover,
  &:focus {
    background-color: $color-medium-purple;
    cursor: pointer;
  }

  &:active {
    background-color: $color-royal-purple;
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    background-color: $color-silver;
  }
}

.button--additional {
  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }

  &:disabled {
    color: $color-white;
    cursor: default;
    background-color: $color-gainsboro;
  }
}
