.catalog {
  background-color: $color-white-smoke;
  padding-top: 50px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 81px;
    padding-top: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 109px;
  }
}

.catalog__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-slate-blue;
  padding: 0;
  margin: 0 0 4px;
  text-align: center;
}

.catalog__description {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.catalog__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px auto;
  }
}
