.pagination {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination__item {
  min-width: 40px;
  min-height: 40px;
  margin: 0 20px 10px 0;

  text-align: center;

  background-color: $color-white;
  border-radius: 4px;

  &:nth-of-type(5n) {
    margin-right: 0;
  }

  &--current {
    background-color: $color-transparent;

    &:hover {
      background-color: $color-transparent;
    }
  }

  &--button {
    position: relative;

    width: fit-content;

    &:hover .pagination__svg,
    &:focus .pagination__svg,
    &:disabled .pagination__svg {
      fill: $color-white;
    }
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:hover:not(&--current),
  &:focus:not(&--current) {
    background-color: $color-medium-purple;
  }

  &:active:not(&--current) {
    background-color: $color-royal-purple;
  }

  &:disabled:not(&--current) {
    background-color: $color-gainsboro;
  }
}

.pagination__svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;
  padding: 15px;

  fill: $color-slate-blue;

  &--next {
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__link {
  display: block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  color: $color-slate-blue;
  text-decoration: none;

  &--current {
    font-weight: 600;
    color: $color-black;

    &:hover,
    &:active {
      color: $color-black;

      cursor: default;
    }
  }

  &--button {
    padding: 10px 20px;
  }

  &:hover:not(&--current),
  &:active:not(&--current),
  &:focus:not(&--current),
  &:disabled:not(&--current) {
    color: $color-white;
  }
}

.pagination__link-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
