.products__list {
  padding: 0 0 20px;
  margin: 0;
  list-style-type: none;
}

.products__item {
  padding: 20px;
  background-color: $color-white;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba($color-black, 0.15);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.products__item-link {
  color: $color-night-rider;
  text-decoration: none;
}

.products__image {
  display: block;
  margin: 20px auto 24px;
}

.products__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  padding: 0;
  margin: 0 0 4px;
}

.products__description {
  margin: 0 0 16px;
  padding: 0;
}

.products__basket-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .products__button {
    padding-left: 46px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 16px;
      top: 50%;
      left: 20px;
      background-image: url("../img/icons/basket.svg");
      transform: translateY(-50%);
    }
  }
}

.products__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.producrs__sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.producrs__sorting-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.producrs__sorting-select {
  display: block;
  border: none;
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-slate-blue;
  background-color: $color-transparent;
  width: 165px;
  margin: 0;
  border-radius: none;
}
