.products {
  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }
}

.products__list {
  margin: 0;
  padding: 0 0 20px;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-bottom: 70px;

    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 61px;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.products__item {
  margin-bottom: 20px;
  padding: 20px;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      border-radius: 4px;
      box-shadow: 0 5px 15px rgba($color-black, 0.15);
      cursor: pointer;
    }
  }
}

.products__item-link {
  color: $color-night-rider;
  text-decoration: none;
}

.products__image {
  display: block;
  margin: 20px auto 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.products__title {
  margin: 0 0 4px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;

    font-size: 24px;
    line-height: 36px;
  }
}

.products__description {
  margin: 0 0 14px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }
}

.products__basket-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .products__button {
    position: relative;

    padding: 9px 20px 9px 46px;

    line-height: 20px;

    @media (min-width: $tablet-width) {
      padding-bottom: 7px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;

      width: 20px;
      height: 16px;

      background-image: url("../img/icons/basket.svg");
      transform: translateY(-50%);
    }
  }
}

.products__price {
  margin-left: -2px;

  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.producrs__sorting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 26px;
  }
}

.producrs__sorting-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.producrs__sorting-select {
  display: block;
  max-width: 170px;
  margin: 0;
  padding: 4px 12px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-montserrat;
  color: $color-slate-blue;

  background-color: $color-transparent;
  border: none;
  border-radius: none;

  @media (min-width: $tablet-width) {
    margin-right: 3px;
    margin-left: 2px;
  }

  &:hover {
    background-color: $color-magnolia;
    border-radius: 4px;
  }
}
