.slider {
  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  & .noUi-connect {
    background-color: $color-medium-purple;
    height: 4px;
  }

  & .noUi-connects {
    height: 2px;
    background-color: $color-gainsboro;
    width: calc(100% + 24px);
  }

  & .noUi-base {
    width: calc(100% - 24px);
  }

  & .noUi-target {
    border: none;
    background-color: $color-transparent;
    box-shadow: none;
  }

  & .noUi-handle {
    border: 2px solid $color-medium-purple;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: none;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: "";
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-transparent;
    }

    &:hover::after,
    &:focus::after {
      background-color: rgba($color-slate-blue, 0.25);
      cursor: pointer;
      outline: none;
    }

    &:active::after {
      background-color: $color-slate-blue;
    }

    &:disabled {
      border: 2px solid $color-silver;
    }

    &:disabled::after {
      cursor: default;
      display: none;
    }
  }

  & .noUi-horizontal .noUi-handle-upper,
  & .noUi-horizontal .noUi-handle-lower {
    width: 24px;
    height: 24px;
    right: -24px;
    top: -12px;
  }

  & .noUi-horizontal .noUi-handle-upper {
    right: -30px;

    @media (min-width: $tablet-width) {
      right: -24px;
    }

    @media (min-width: $desktop-width) {
      right: -33px;
    }
  }
}

.slider__range {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.slider__values-container {
  position: relative;
  display: flex;
  gap: 44px;

  @media (min-width: $tablet-width) {
    gap: 34px;
  }

  @media (min-width: $desktop-width) {
    gap: 48px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 2px;
    width: 9px;
    background-color: $color-silver;
    transform: translate(-50%, -50%);
  }

  & input {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    text-align: center;
    font-family: $ff-montserrat;
    border: 2px solid $color-medium-purple;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    appearance: none;
    padding: 5px 15px 5px 15px;
    color: $color-black;

    @media (min-width: $tablet-width) {
      height: 40px;
      padding: 8px 20px 5px 20px;
    }

    &:hover,
    &:focus {
      border: 2px solid $color-royal-purple;
      outline: none;
      color: $color-black;
    }

    &:disabled {
      border: 2px solid $color-gainsboro;
      cursor: default;
      color: $color-silver;
    }
  }
}
