.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    margin-bottom: 25px;
  }
}

.social__container {
  @media (min-width: $desktop-width) {
    margin-top: -10px;
    margin-bottom: 45px;
  }
}

.social__list {
  display: grid;
  margin: 0 5px 0 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;
  grid-template-columns: 40px 40px 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.social__link {
  padding: 15px 10px 5px;

  border-radius: 4px;

  @media (min-width: $desktop-width) {
    margin-left: -10px;
  }

  &:hover,
  &:focus {
    background-color: $color-magnolia;
  }

  &:active {
    background-color: rgba($color-slate-blue, 0.25);
  }

  &:hover svg,
  &:active svg,
  &:focus svg {
    fill: $color-slate-blue;
  }
}

.social__link-logo {
  padding: 0;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.social__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: fit-content;
    margin-top: 5px;
  }
}

.social__logo-image {
  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.social__svg {
  fill: $color-silver;
}
