.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.social__container {
  @media (min-width: $desktop-width) {
    margin-top: -13px;
    margin-bottom: 45px;
  }
}

.social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 20px;
}

.social__link {
  padding: 15px 10px 5px;
  border-radius: 4px;

  @media (min-width: $desktop-width) {
    margin-left: -10px;
  }

  &--logo {
    padding: 0;

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-magnolia;
  }

  &:active {
    background-color: rgba($color-slate-blue, 0.25);
  }

  &:hover svg,
  &:active svg,
  &:focus svg {
    fill: $color-slate-blue;
  }
}

.social__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    display: block;
    width: max-content;
  }
}

.social__svg {
  fill: $color-silver;
}
