// colors

$color-white: #ffffff;
$color-black: #000000;
$color-slate-blue: #7859CF;
$color-night-rider: #333333;
$color-magnolia: #F0EBFF;
$color-silver: #BDBDBD;
$color-white-smoke : #F8F8F8;
$color-transparent: transparent;
$color-medium-purple: #9070EC;
$color-royal-purple: #593CAC;
$color-gainsboro: #E2E2E2;

// fonts

$ff-montserrat: "Montserrat", "Arial", sans-serif;

// viewports

$tablet-width: 768px;
$desktop-width: 1024px;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
